.simile-page {
    background-color: #e0f7f7; /* Aqua green */
    font-family: 'Times New Roman', serif;
    margin-left: 1in;
    margin-right: 1in;
}

.simile-page h2 {
    font-size: 16px;
}

.simile-page p {
    font-size: 14px;
}

